{% extends 'base.html' %}
{% load static %}

{% block title %}ECOM-CART{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <div class="ui container">
        <div>
            <div style="display: flex">
                <h1>Shopping Cart</h1>
                <a  href="{% url 'orders:cart' %}" >Edit cart</a>
            </div>
            <h1>Available balance: {{user.profile.wallet.balance}}</h1>
        </div>
        <div style="margin-top: 10px;">
            {% for item in items %}
                <div class="ui five column grid container product">
                    <div class="column">
                        <a href="{{item.product.get_absolute_url}}"><img src={{item.product.image.url}} alt="product image" style="height: 100px; width: 100px;"></a>
                    </div>
                    <div class="column">
                        <h4>
                            <a href="{{item.product.get_absolute_url}}">{{item.product.title}}({{item.product.price}})</a>
                        </h4>
                    </div>
                    <div class="column">
                        Quantity:
                        
                        &nbsp {{item.quantity}} &nbsp
                        
                    </div>
                    <div class="column">
                        Total: ${{item.get_total}}
                    </div>
                    
                </div>
            {% endfor %}
        </div>
        <div class="checkout">
            <h2 style="display: inline;">Items:</h2><h2 style="display: inline;">  {{order.get_cart_item}}</h2><br>
            <h2 style="display: inline;">Total:</h2><h2 style="display: inline;">  ${{order.get_cart_total}}</h2>
            {% if order.get_cart_item %}
                <a href="{% url 'orders:buy_product' %}" class="chekout-btn">B u y &nbsp; N o w!</a>
            {% endif %}
        </div>
    </div>
{% endblock content%}