{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>{% block title %}ECOM{% endblock title %}</title>
<meta name="description" content="A framework for launching new Django projects quickly.">
<meta name="author" content="">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<meta http-equiv="refresh" content="">
{% block css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
{% endblock %}
<script type="text/javascript">
  var user = '{{ request.user }}'

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
const csrftoken = getCookie('csrftoken');
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>
</head>

<body>
  <main role="main">
    <!-- Navigation -->
    {% include 'navbar.html' %}
  </main>

  <div class="ui container">
    {% if messages %}
    <div class="ui message">
      <i class="close icon" style="font-family: Icons, Bangla226, sans-serif;"></i>
      <div class="header" style="font-family: Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, Bangla226, sans-serif;">
        Welcome back!
      </div>
    </div>
    {% endif %}

    {% block content %}
      <p>Default content...</p>
    {% endblock content %}
    
  </div>




  {% block javascript %}
  
  <!-- 3rd party JavaScript -->

  <!-- Project JS -->
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/cart.js' %}"></script>
  
  {% endblock javascript %}

</body>
</html>