<div class="ui secondary pointing stackable menu navbar">
    <a href="{% url 'products:product_list' %}" class="active item">
      ECOM
    </a>
    <div class="right menu">
        <a class="item">
            Messages
        </a>
        <a href="{% url 'about' %}" class="item">
            About
        </a>

        <div class="ui category search item mobile hidden">
            <div class="ui transparent icon input">
              <form id="demo-2">
                <input type="search" placeholder="Search">
              </form>
            </div>
        </div>
        {% if user.is_authenticated %}
          
          <a href="{% url 'orders:cart' %}" class="item"><i class="shopping cart icon" style="font-family: Icons, Bangla203, sans-serif;">{{ user.profile.order_set.first.get_cart_item }}</i></a>
          <div class="ui compact menu">
              <div class="ui simple dropdown item">
                {{ user.username }}
                  <i class="dropdown icon"></i>
                  <div class="menu">
                  <a class="item">Profile</a>
                  <a href="{% url 'account_change_password' %}" class="item">Change password</a>
                  <a href="{% url 'account_logout' %}" class="item">logout</a>
                  </div>
              </div>
          </div>
        {% else %}
          <a href="{% url 'account_signup' %}" class="item">
            SignUp
          </a>
          <a href="{% url 'account_login' %}" class="item">
            LogIn
          </a>
        {% endif %}
    </div>
    
    
  </div>